table {
  width: 100%;
}

th.mat-column-icon,
td.mat-column-icon {
  width: 40px;
}

.folder {
  cursor: pointer;
}

.downloadFile {
  cursor: pointer;
}

.fill-space {
  flex: 1 1 auto;
}

.version {
  font-size: 14px;
}
